<p class="text-center bg-dark text-white" style="margin: 0 auto">
  <mat-toolbar color="primary">
    <span style="margin: 0 auto; font-size: 35px;">Employee Management System</span>
  </mat-toolbar>
</p>
<nav class="navbar navbar-expand-sm ">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link">Employees</a>
    </li>
    <li class="nav-item">
      <a routerLink="add-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
    </li>
  </ul>
</nav>
<br>

<div class = "container">
    <router-outlet></router-outlet>
</div>

