<div class="col-md-6 offset-md-3">
  <h3> Update Employee </h3>
  <br>

  <form (ngSubmit)="onSubmit()" #userForm="ngForm">

    <div class="form-group">
      <label> First Name</label>
      <input type="text" required #firstName="ngModel" pattern="^[a-zA-Z0-9._]{3,15}$" class="form-control"
             id="firstName" [class.is-invalid]="firstName.invalid" [(ngModel)]="employee.firstName" name="firstName" ngModel>
      <div *ngIf="firstName.errors || firstName.invalid">
        <small class="text-danger" *ngIf="firstName.errors.required">First name is required.</small>
        <small class="text-danger" *ngIf="firstName.errors.pattern">First name should be of length 2-15 and no symbols are allowed otherthan '.', '_'.</small>
      </div>
    </div>

    <div class="form-group">
      <label> Last Name</label>
      <input required type="text" #lastName="ngModel" pattern="^[a-zA-Z0-9._]{3,15}$" class="form-control" id="lastName"
             [class.is-invalid]="lastName.invalid" [(ngModel)]="employee.lastName" name="lastName" ngModel>
      <div *ngIf="lastName.errors || lastName.invalid">
        <small class="text-danger" *ngIf="lastName.errors.required">Last name is required.</small>
        <small class="text-danger" *ngIf="lastName.errors.pattern">Last name should be of length 2-15 and no symbols are allowed otherthan '.', '_'.</small>
      </div>
    </div>

    <div class="form-group">
      <label> Email Id</label>
      <input required type="text" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" id="email"
             [class.is-invalid]="email.invalid" [(ngModel)]="employee.email" name="email" ngModel>
      <small class="text-danger" *ngIf="check">Email already exsists!</small>
      <div *ngIf="email.errors || email.invalid">
        <small class="text-danger" *ngIf="email.errors.required">Email is required.</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Enter valid emial id.</small>
      </div>
    </div>

    <div class="form-group">
      <label> Salary</label>
      <input required type="text" class="form-control" pattern="^[0-9]{0,20}$" #salary="ngModel" id="salary"
             [class.is-invalid]="salary.invalid" [(ngModel)]="employee.salary" name="salary" ngModel>
      <div *ngIf="salary.errors || salary.invalid">
        <small class="text-danger" *ngIf="salary.errors.required">Salary is required.</small>
        <small class="text-danger" *ngIf="salary.errors.pattern">Salary should be numeric.</small>
      </div>
    </div>

    <div class="form-group">
      <label> Allocated Job</label>
      <input required type="text" class="form-control" #job="ngModel" id="job"
             [class.is-invalid]="job.invalid" [(ngModel)]="employee.job" name="job" ngModel>
      <div *ngIf="job.errors || job.invalid">
        <small class="text-danger" *ngIf="job.errors.required">Job is required.</small>
      </div>
    </div>

    <button [disabled]="firstName.errors || firstName.invalid || lastName.errors || lastName.invalid || job.errors || job.invalid || salary.errors || salary.invalid || email.errors || email.invalid" class="btn btn-success" type="submit">Submit</button>
    <br>
    <br>
  </form>
</div> 
