<app-navbar></app-navbar>
<div>
<h2>Welcom to Home page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam aliquid laboriosam debitis exercitationem <br>modi itaque veritatis labore accusantium 
    blanditiis animi hic delectus facere quam soluta cum est ut, adipisci sequi?Lorem ipsum  <br>adipisicing elit. Quisquam aliquid laboriosam debitism 
        blanditiis animi hic delectus facere quam soluta cum est ut, adipisci sequi?</p>
    <br>
    <button type="submit" (click)="login()" class="btn btn-lg btn-outline-light">Get Started</button>
</div>