<div class="input-group mb-3">
  <mat-form-field style="color: #4e62cf;" appearance="fill">
    <mat-label><b>Search by...</b></mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="firstName" (click)="searchBy()">First name</mat-option>
      <mat-option value="lastName" (click)="searchBy()">Last name</mat-option>
      <mat-option value="email" (click)="searchBy()">Email</mat-option>
      <mat-option value="job" (click)="searchBy()">Job</mat-option>
    </mat-select>
  </mat-form-field>
  <input type="text" [(ngModel)]="searchArea" class="form-control" style="height: 51px; width: 10px; margin-right: 10px;" aria-label="Text input with dropdown button">
  <a href="http://localhost:8081/employees/downloadExcel">
    <i class="fa fa-file-excel-o" style="font-size:33px;padding-top: 15px;"></i>
  </a>
  <a href="http://localhost:8081/employees/downloadPdf">
    <i (click)="downloadPdf()" class="fa fa-file-pdf-o" style="color:#007BFF; font-size:33px; padding-top: 15px; padding-left: 10px; cursor: pointer;"></i>
  </a>
  <a href="http://localhost:8081/employees/downloadCsv">
    <i class='fas fa-file-csv' style="font-size:33px; padding-top: 15px; padding-left: 10px;"></i>
  </a>
</div>
<table class = "table table-striped">
    <thead>
        <tr>
            <th [appSort]="employees" data-order="desc" data-name="id" style="cursor:pointer"> Employee  Id</th>
            <th [appSort]="employees" data-order="desc" data-name="firstName" style="cursor:pointer"> First Name</th>
            <th [appSort]="employees" data-order="desc" data-name="lastName" style="cursor:pointer"> Last Name </th>
            <th [appSort]="employees" data-order="desc" data-name="email" style="cursor:pointer"> Email Id</th>
            <th [appSort]="employees" data-order="desc" data-name="salary" style="cursor:pointer"> Salary </th>
            <th [appSort]="employees" data-order="desc" data-name="job" style="cursor:pointer"> Allocated Job</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--instead of this u can also use this filter:searchText"  -->
        <tr *ngFor = "let employee of employees | customPipe:searchArea" >
            <td> {{ employee.id }} </td>
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.email }} </td>
            <td> {{ employee.salary}} </td>
            <td> {{ employee.job}} </td>
            <td>
                <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>


<!-- Normal searching -->
<!-- <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default" style="color: white;background-color: #4e62cf;">Search</span>
    <input type="text" [(ngModel)]="searchText" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div> -->

<!-- Sorting -->
<!-- https://sankhadip.medium.com/how-to-sort-table-rows-according-column-in-angular-9-b04fdafb4140 -->