<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="col-md-6 offset-md-3">
  <form (ngSubmit)="formSubmit()" #userForm="ngForm">
    <h1> Change Password</h1>
    <br>

    <div class="form-group">
      <input [(ngModel)]="password1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$" required id="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" ngModel
             type="password" class="form-control" name="password" placeholder="Password">
      <small class="center text-danger" *ngIf="checkPassword">Passwords don't match!</small>
      <div *ngIf="password.invalid && password.touched">
        <small class="center text-danger" *ngIf="password.errors?.required">Password is required.</small>
        <small class="center text-danger" *ngIf="password.errors?.pattern">
          Passowrd should be in following pattern.<br>
          <li> At least 1 Uppercase</li>
          <li>At least 1 Lowercase</li>
          <li>At least 1 Number</li>
          <li>At least 1 Symbol, symbol allowed --> !@#$%^&*_=+-</li>
          <li>Min 8 chars and Max 12 chars</li>
        </small>
      </div>
    </div>
    <div class="form-group">
      <input [(ngModel)]="confirmPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$" required id="passwordConfirm" #passwordConfirm="ngModel" [class.is-invalid]="passwordConfirm.invalid && passwordConfirm.touched" ngModel
             type="password" class="form-control" name="passwordConfirm" placeholder="Confirm Password">
      <small class="center text-danger" *ngIf="checkPassword">Passwords don't match!</small>
      <div *ngIf="passwordConfirm.invalid && passwordConfirm.touched">
        <small class="center text-danger" *ngIf="passwordConfirm.errors?.required">Password is required.</small>
        <small class="center text-danger" *ngIf="passwordConfirm.errors?.pattern">
          Passowrd should be in following pattern.<br>
          <li> At least 1 Uppercase</li>
          <li>At least 1 Lowercase</li>
          <li>At least 1 Number</li>
          <li>At least 1 Symbol, symbol allowed --> !@#$%^&*_=+-</li>
          <li>Min 8 chars and Max 12 chars</li>
        </small>
      </div>
    </div>
    <div class="center">
      <button [disabled]="password.errors || password.invalid || passwordConfirm.errors || passwordConfirm.invalid" class="btn btn-success btn-lg" type="submit"><h4>Submit</h4></button>
    </div>

  </form>
</div>

