<br>
<div class="col-md-6 offset-md-3">
  <form (ngSubmit)="formSubmit()" #userForm="ngForm">
    <h1> Change Password</h1>
    <br>

    <div class="form-group">
      <input [(ngModel)]="password1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$" required
        id="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" ngModel
        type="password" class="form-control" name="password" placeholder="Confirm Password">
      <div class="error"><small class="text-danger error" *ngIf="checkPassword">Passwords don't match!</small></div>
      <div class="error" *ngIf="password.invalid && password.touched">
        <small class="text-danger" *ngIf="password.errors?.required">Password is required.</small>
        <small class="text-danger" *ngIf="password.errors?.pattern">
          Passowrd should be in following pattern.<br>
          <ul>
            <li> At least 1 Uppercase</li>
            <li>At least 1 Lowercase</li>
            <li>At least 1 Number</li>
            <li>At least 1 Symbol, symbol allowed --> !@#$%^&*_=+-</li>
            <li>Min 8 chars and Max 15 chars</li>
          </ul>
        </small>
      </div>
    </div>
    <div class="form-group">
      <input [(ngModel)]="confirmPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$"
        required id="passwordConfirm" #passwordConfirm="ngModel"
        [class.is-invalid]="passwordConfirm.invalid && passwordConfirm.touched" ngModel type="password"
        class="form-control" name="passwordConfirm" placeholder="Confirm Password">
      <div class="error"><small class="text-danger error" *ngIf="checkPassword">Passwords don't match!</small></div>
      <div class="error" *ngIf="passwordConfirm.invalid && passwordConfirm.touched">
        <small class="text-danger" *ngIf="passwordConfirm.errors?.required">Password is required.</small>
        <small class="text-danger" *ngIf="passwordConfirm.errors?.pattern">
          Passowrd should be in following pattern.<br>
          <ul>
            <li> At least 1 Uppercase</li>
            <li>At least 1 Lowercase</li>
            <li>At least 1 Number</li>
            <li>At least 1 Symbol, symbol allowed --> !@#$%^&*_=+-</li>
            <li>Min 8 chars and Max 15 chars</li>
          </ul>
        </small>
      </div>
    </div>
    <div class="submitButton">
      <button [disabled]="password.errors || password.invalid || passwordConfirm.errors || passwordConfirm.invalid"
        class="btn btn-dark btn-lg" type="submit">
        <h4>Submit</h4>
      </button>
    </div>
  </form>
</div>