input {
  font-size: medium;
  width: 80%;
  margin: auto;
}

select {
  font-size: medium;
  height: 35px;
}

h1 {
  text-align: center;
}

button {
  width: 90%;
  height: 40px;
}

.error {
  margin: auto;
  width: 80%
}

.submitButton {
  margin-left: 10%;
  width: 90%;
}